.dsmeta-white-btn {
    height: 45px;
    width: 45px;
    background: rgb(77, 175, 34);
    border: 1.5px solid #000000;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .dsmeta-red-btn img {
      width: 19px;
  }